.outterdiv1{
    margin-top: 110px;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
}
.innerdiv{
    line-height: 5px;
}
.innerdiv p{
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.innerdiv h1{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.innersubconatiner{
    display: flex;
    margin-top: 20px;
    margin-right: 0%;
    justify-content: center;
}
.innersubdiv1,.innersubdiv2,.innersubdiv3{
    margin-left: 50px;
    width: 250px;
    height: 300px;
    padding: 20px;
    text-align: left;
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.innersubdiv1 p{
    background-image: url(../images/image6.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    padding-left: 20px;
    padding-top: 20px;
}

.innersubdiv2 p{
    background-image: url(../images/image8.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    padding-left: 20px;
    padding-top: 20px;
}
.innersubdiv3 p{
    background-image: url(../images/image13.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    padding-left: 20px;
    padding-top: 20px;
}
.outterfirdiv{
    padding: 20px;
}
.downcontaner{
    display: flex;
    margin-top: -90px;
    margin-right: 0px;
    text-align: left;
    background-color: rgba(216, 83, 156, 0.61);
    padding-top: 130px;
    padding-left: 100px;
    padding-right: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
}
.downcontaner p{
    font-size: 15px;
    color: whitesmoke;
}
.downcontaner h1{
    font-size: 30px;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.outtersubdiv1{
    width: 380px;
    padding: 20px;
    letter-spacing: 2px;
    line-height: 30px;
}
.outtersubdiv2{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    width: 500px;
    padding: 20px;
    line-height: 25px;
}
.innersubconatiner p:hover{
    z-index: 1;
    text-shadow: 2px 3px 4px;
    width: 200px;
    height: 250px;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0 , 0 ,.5);
}