li,a{
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    color: black;
}
.inner-container{
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.inner-container li a{
    margin-left: -7px;
    color: black;
}
.second-container{
    float: right;
    margin-right: 190px;
    margin-top: 20px;
    padding-right: 0px;
    color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container-in{
    background-color: whitesmoke;
    height: 50px;
    /* padding-left: 200px; */
    padding-right: 100px;
    padding-top: 1px;
    padding-bottom: 5px; 
    margin-top: 0px;
    position: relative;
    color: black;
}
.container-in li{
   margin-left: 50px;
}
.container-in a:hover{
    border: 10px ;
    border-radius: 5px;
    background-color: yellow;
}
.shop{
    float: right;
    position: relative;
    margin-top: -35px;
    margin-right: 50px;
}