.Container1{
    background-image: url('../images/image2.jpg');
    height: 500px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -5px;
    padding-top: 50px;
    animation: slide 10s infinite;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 0px;
    justify-content: center;
}
.contant{
    left: 40%;
    justify-content: center;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: left;
    letter-spacing: 2px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.contant p{
    font-size: 20px;
    font-family: monospace;
    color: antiquewhite;
}
.contant h1{
    line-height: 40px;
    font-size: 50px;
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    font-size: 20px;
    background-color: rgb(173, 173, 31);
    padding: 10px;
    border-radius: 7px;
}

@keyframes slide {
    0%{
        background-image: url('../images/image2.jpg');
    }
    30%{
        background-image: url('../images/image2.jpg');
    }
    30.01%{
        background-image: url('../images/image1.jpg');
    }
    60%{
        background-image: url('../images/image1.jpg');
    }
    60.01%{
        background-image: url('../images/image.jpg');
    }
    100%{
        background-image: url('../images/image.jpg');
    }
    
}